.chat-main
  .main-header
    .main-header__left-box
      %h2.main-header__left-box__current-group グループ名
      %ul.main-header__left-box__member-list
        %p Member :
        %li.main-header__left-box__member-list__member メンバー1
        %li.main-header__left-box__member-list__member メンバー2
        %li.main-header__left-box__member-list__member メンバー3
        %li.main-header__left-box__member-list__member メンバー4
        %li.main-header__left-box__member-list__member メンバー5
        %li.main-header__left-box__member-list__member メンバー6
    =link_to "#" do 
      .main-header__edit-btn
        Edit
  .messages
    - messages.each do |message|
      .message
        .message__upper-info
          %p.message__upper-info__talker #{message.user.name}
          %p.message__upper-info__date #{message.created_at}
        %p.message__text #{message.body}
        %img(src="#{message.image.url}")

  .form
    =form_for [group, message] do |f|
      .input-box
        = f.text_field :body, placeholder: "type a message", class:"input-box__text"
        = f.label :image, class: "input-box__image far fa-image fa-2x" do
          = f.file_field :image, class:"input-box__image__file"
      = f.submit "Send", class: "submit-btn"